{% extends 'base.html' %}
{% load static rest_framework %}

{% block extrahead %}
    <link href="{% static 'mercado_vindu/css/posteo.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

<div class="row">
{% if post %}
<h2 class="title-section">MODIFICAR POSTEO</h2>
{% else %}
<h2 class="title-section">AGREGAR POSTEO</h2>
{% endif %}

<form action="." id="form-posteo" class="form" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="col-md-12">
    {% render_field serializer.nombre_post style=style %}
  </div>
  <div class="col-md-12">
    {% render_field serializer.descripcion style=style %}
  </div>
  <div class="col-md-12">
    {% render_field imagen_serializer.imagen_post style=style %}
  </div>
  {% if post.imagen_post.all %}
  <div class="col-md-12">
    {% for imagen in post.imagen_post.all %}
    <div class="col-md-4">
      <a href="{% url 'borrar_imagen_posteo' imagen.post.id imagen.id %}"><i class="far fa-times-circle pull-right"></i></a>
      <img src="{{imagen.imagen_post.url}}" class="img-posteo"></img>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <input class="btn bg-green pull-right" type="submit" value="Guardar">
</form>
</div>
{% endblock %}
