<!DOCTYPE html>
<html>
<head>
<title>FAQ</title>
<meta charset="UTF-8">
</head>
<body>


<div id="container">

</div>
 <p>
     <strong>¿Qué es Vindu?</strong><br>
     Vindu es un shopping mobile donde podés seguir a tus marcas preferidas y comprar lo que más te guste.
 </p>

 <p>
        <strong>¿Cuánto tiempo tengo para devolver algun producto?</strong><br>
       30 días de recibido el producto 
</p>

<p>
        <strong>¿Dónde lo voy a buscar?</strong><br>
       Podés retirarlo por la sucursal más cercana o pedir que te lo lleven adonde lo quieras recibir. 
</p>

</body>
</html>
